.button_style{
    width: calc(25vw -5);
    height: calc(25vw -5);
    background-color: lightgray;
    transition: 1s;
    font-size: 5vw;
}

.button_style:hover{
    background-color: darkgray;
}

.button_style:focus{
    background-color: grey;
    transition: 0.3s;
}

.operator_style{
    padding-top: 6vw;
    padding-bottom: 6vw;
    background-color: coral;
    transition: 1s;
    font-size: 5vw;
    text-align: center;
    position: relative;
}

.operator_style:hover{
    background-color: orange;
}

.operator_style:focus{
    background-color: darkorange;
    transition: 0.3s;
}

.readout{
    grid-column: 1 / span 4;
    text-align: right;
    height: 100%;
}

.pad-wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    font-size: 15vw;
}

.pad-row{
    height: calc(25vw);
    grid-column: 1 / span 4;
    display: contents;
}

.pad-0{
    grid-column: 1 / span 2;
}

.hide{
    display: none;
}