.button_style{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: lightgray;
    transition: 1s;
}

.button_style:hover{
    background-color: darkgray;
}

.button_style:focus{
    background-color: grey;
    transition: 0.3s;
}

.operator_style{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: coral;
    transition: 1s;
}

.operator_style:hover{
    background-color: orange;
}

.operator_style:focus{
    background-color: darkorange;
    transition: 0.3s;
}